In [159]:
import pandas as pd

df = pd.read_csv ('pokemon_data.csv')

#df_xlsx = pd.read_excel ('pokemon_data.xlsx')

#print(df_xlsx.head(5))

#print(df.head(5))

#df = pd.read_csv ('pokemon_data.txt', delimiter = '\t')
print(df)

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [9]:
# READ HEADERS
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [164]:
## READ EACH COLUMN
#print(df['Name'])
#print(df['Name'][0:5])
print(df[['Name','Type 1', 'HP' ]])

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [81]:
## READ EACH ROW
#print(df.iloc[0:4])
#for index, row in df.iterrows():
   # print(index,row['Name'])
df.loc[df['Type 1'] == 'Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [26]:
## READ A SPECIFIC LOCATION (R,C)
print(df.iloc[2,1])

Venusaur

In [42]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [48]:
# SORTING
df.sort_values(['Type 1','HP' ], ascending=[1,0])
# 1 for ascending = True
# 0 for ascending = False (which is descending)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [52]:
# MAKING CHANGES TO THE DATA
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [63]:
# ADD A COLUMN called Total
#df['Total'] = df['HP'] + df['Attack'] + df ['Defense'] + df['Sp. Atk'] + df['Speed'] + df['Sp. Def']
# drop a column
#df = df.drop(columns=['Total'])

# add a column
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
# ": means all of rows
#axis=1: horizontally
#axis=0: vertically

cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols [4:12]]
#cols[0:4] gives first four columns in the same order
#[cols[-1]] reverse index and gives Total; [] makes it a list


df.head(5)

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,553,39,52,43,60,50,65,1

In [56]:
45+49+49+65+65+45

318

In [68]:
# SAVING DATA
# Save as csv file
#df.to_csv('modified.csv', index=False)
#index=False: remove index 

# Save as Excel
#df.to_excel('modified.xlsx', index=False)

# Save as txt
#df.to_csv('modified.txt', index=False, sep='\t')
#sep='\t': seperate by tabs

In [103]:
#FILTERING DATA
#new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP']>70)]
# use '&' instead for and
# use '|' for or

#new_df.to_csv('filtered.csv')

#new_df = new_df.reset_index() #reset the index instead of keeping old index

#new_df = new_df.reset_index(drop = True) #remove old indices
#new_df.reset_index(drop = True, inplace = True) #not resetting as a new dataframe>> to save memory

#new_df

#df.loc[df['Name'].str.contains('Mega')] #show rows that contains Mega in name
#df.loc[~df['Name'].str.contains('Mega')] #show rows that not contains Mega in name

import re #regular expression

#df.loc[df['Type 1'].str.contains('Fire|Grass',  regex = True)] #case sensitive
#df.loc[df['Type 1'].str.contains('fire|grass', flags = re.I, regex = True)] #ignore case
df.loc[df['Name'].str.contains('^pi[a-z]*', flags = re.I, regex = True)] #starts with 'pi'. ^:starts with

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

In [132]:
#CONDITIONAL CHANGES
#df.loc[df['Type 1'] == 'Fire', 'Type 1'] =  'Flamer' #if type 1 is 'Fire', change it to 'Flamer'

#df = pd.read_csv('modified.csv')

#df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
#df

,Unnamed: 0,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
4,4,4,Charmander,Fire,NaN,True,553,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,True,1150,50,100,150,100,150,50,6
796,796,719,DiancieMega Diancie,Rock,Fairy,True,1290,50,160,110,160,110,110,6
797,797,720,HoopaHoopa Confined,Psychic,Ghost,True,1130,80,110,60,150,130,70,6
798,798,720,HoopaHoopa Unbound,Psychic,Dark,True,1280,80,160,60,170,130,80,6
799,799,721,Volcanion,Fire,Water,True,1130,80,110,120,130,90,70,6

In [136]:

#modify multiple columns at a single time

#df.loc[df['Total']> 500, ['Generation', 'Legendary']] = ['TEST 1', 'TEST 2']

#df.to_csv('modifynew.csv')

In [153]:
#AGGREGATE STATISTICS (Groupby)

df = pd.read_csv('modified.csv')
df = df.drop(columns=['Legendary'])
df = df.drop(columns=['Unnamed: 0.1'])
df = df.drop(columns=['Unnamed: 0'])
#df.groupby(["Type 1"]).mean(numeric_only=True).sort_values('HP', ascending = False)

df ['count'] = 1

df

df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

In [158]:
#WORKING WITH LARGE AMOUNTS OF DATA

new_df = pd.DataFrame(columns = df.columns) #create a new datafram that's empty with same column names

for df in pd.read_csv('modified.csv', chunksize=5) : #5 rows will be passed in at a time
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results]) # appends two dataframe together
                    
    #take new dataframe as it go through chunks, append on results, and store it back to new_df